In [1]:
import pandas as pd
data = pd.read_csv('cleaned_data.csv')

In [2]:
data['testprice'] = data['price'].str[1:]
data['testprice'] = data['testprice'].str.replace(',','')

In [3]:
data['testprice'] = data['testprice'].astype(float)

In [4]:
data['testprice'].min()

50.0

In [5]:
data['newservicefee'] = data['service fee'].str[1:]
data['newservicefee'] = data['newservicefee'].str.replace(',','')
data['newservicefee'] = data['newservicefee'].astype(float)

In [6]:
data['newservicefee'].max()

240.0

In [7]:
data.head()

,Unnamed: 0,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,...,service fee,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,testprice,newservicefee
0,0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,...,$193,10.0,9.0,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,966.0,193.0
1,1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,...,$28,30.0,45.0,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,142.0,28.0
2,2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,...,$124,3.0,0.0,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",620.0,124.0
3,3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,...,$74,30.0,270.0,4.64,4.0,1.0,322.0,NaN,368.0,74.0
4,4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,...,$41,10.0,9.0,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",204.0,41.0

In [8]:
del data["service fee"]
del data["price"]

In [9]:
data.head()

,Unnamed: 0,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,...,Construction year,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,testprice,newservicefee
0,0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,...,2020.0,10.0,9.0,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,966.0,193.0
1,1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,...,2007.0,30.0,45.0,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,142.0,28.0
2,2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,...,2005.0,3.0,0.0,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",620.0,124.0
3,3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,...,2005.0,30.0,270.0,4.64,4.0,1.0,322.0,NaN,368.0,74.0
4,4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,...,2009.0,10.0,9.0,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",204.0,41.0

In [26]:
data.to_csv('cleaned_data_full.csv', index=False)

In [12]:
data['testprice'].max()

1200.0